html,
body,
#__next {
  background-color: map-deep-get($colours,'bg-dark');
}

.section--bts {
  background-color: map-deep-get($colours,'bg-dark');
}

.section--paper {
  background-color: map-deep-get($colours,'akkurat-blue');
  opacity: 0;
  transition: opacity 1s $t-bezier;
}

.section--display {
  opacity: 1;
}

.inset-images {
  position: relative;
  z-index: 2;
  // background-color: map-deep-get($colours,'bg-dark');
  padding-top: 20vh;
}
