html,
body,
#__next {
  background-color: map-deep-get($colours,'bg-dark');
}

.section {
  // overflow: hidden;
}

.section--bts {
  background-color: map-deep-get($colours,'bg-dark');
}

.section--paper {
  transition: background 1s $t-bezier;
}

.section--blue {
  background-color: map-deep-get($colours,'akkurat-blue');
}

.inset-images {
  position: relative;
  z-index: 2;
  // background-color: map-deep-get($colours,'bg-dark');
  padding-top: 20vh;
}
