@import '../../styles/styles.scss';

.slideshow {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0 36px;
  height: 100vh;
}

.slideshow__image {
	text-align: center;
	opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 589.79px;
  width: 900px;
  transform: translate(-50%,-50%);
  overflow: hidden;
  @include media('<=images'){
    width: calc(100% - 72px);

    height: auto;
    padding-top: 62.41%;
  }
	&--active {
		opacity: 1;
	}
	img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
    height: 100%;
    display: block;
  }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
