@import 'styles/lib.scss';

.text {
  padding: 0 10vw;
  @include f-main;
  color: map-deep-get($colours,'text-light');
  position: relative;
  z-index: 2;
  opacity: 0;
  transition: opacity .5s $t-bezier;
  height: 100vh;
  &--display {
    opacity: 1;
  }
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
  > div > div {
    @include media('<=typemin'){
      display: inline;
      align-self:flex-start;
      flex-shrink: 0;
    }
  }
}
