@import 'styles/lib.scss';

.logo-end {
  width: 100%;
  background-color: map-deep-get($colours, 'akkurat-blue');
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
  opacity: 0;
  transition: opacity .5s $t-bezier;
  &--display {
    opacity: 1;
  }
}
