@font-face {
    font-family: 'GT America';
    src: url('/fonts/GTAmerica-Medium.woff2') format('woff2'),
        url('/fonts/GTAmerica-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Cheltenham Std';
    src: url('/fonts/CheltenhamStd-Book.woff2') format('woff2'),
        url('/fonts/CheltenhamStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

